.contenedor{
  margin: 0px;
  padding: 100px;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

.fila{
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  clear: both;
  display: table;
}




.small-logo{

 box-shadow: 2px 2px 5px #f3eeed;
}

.small-logo :hover{

  background-position: 15%;
}

.carousel inner{
  margin-left: 0%;
  margin-right: 0%;

}

#barra_nav{
  box-shadow: 5px 5px 10px #f3eeed;
  border-radius: 40px;
}

a {
  
    color: #eaeff5;
    text-decoration: none;
    background-color: transparent;
}

#demo{
  box-shadow: 5px 5px 10px #f3eeed;
  border-radius: 40px;
  margin-left: 0%;
  margin-right: 0%;
}

.btn, botonera{
  
 width: 200px;
 border-color: chartreuse;
 background-color: rgb(5, 172, 149);
 
}

.btn, botonera:hover{

  border-radius: 20%;
  background-color:#CB4335;
 
}
 .servicios{
  text-align: center;
}

/* ordeamos el container de las secciones */

.bordador{

  border-color: rgb(4, 39, 4);
  border-style: solid 1%;
  border-radius: 5%;
  box-shadow: 5px 5px 10px #f7320a;
  margin-bottom: 50px;
  margin-top: -10px;
}
/* CAMBIAMOS EL TAMAÑO DE LA PRIMERA LETRA */

#poliicas-calidad::first-letter{
font-size: 20PX;
color: #CB4335;
font-family: 'Times New Roman', Times, serif;
border-radius: 40%;
border-color: yellow;
text-align: justify;

}

/* nuevos estilos */

[class*="col-"]{
  float: left;/*  */
  padding: 20px;
  /* border:1px solid rgb(137, 57, 148); */
  padding: 10px;
  
}  

#logo-original{
transform:rotate(35deg);
-ms-transform:rotate(35deg); /* IE 9 */
-webkit-transform:rotate(35deg); /* Opera, Chrome, and Safari */
width: 300px;
height: 300px;
box-shadow: 5px 5px 10px #35220b;
margin-top: 5%;
margin-left: 10%;
}

/* efectos hover */

#logo-original:hover{ 
  -ms-transform: scale(1.0); /* IE 9 */
  -webkit-transform: scale(1.0); /* Safari 3-8 */
  transform: scale(1.0); 





}

#reloj{
border-radius: 100px;
}

#reloj:hover{

  -ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(1.5); 
top: 0%;
bottom: unset;
}

.card-header{
  text-align: center;
  color: green;
}






